*{
  margin: 0px;
  font-family: 'Inter';
}

#logo {
  margin-left: 50px;
  margin-top: 50px;
}

#texto-topo{
  margin-left: 150px;
  margin-top: 50px;
}

#texto-menusuperior{
  margin-left: 150px;
  margin-top: 30px;
  padding-bottom: 100px;
}

#menusuperior{
  background-image: url(imagens/fundo-menusuperior.svg);
  color: aliceblue;
}

#menuinformacional{
  background-color: #eaece5;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}

.icone{
  margin: 50px 0px 50px 130px;
  padding: 25px;
}

.textoinformativo{
  display: flex;
  align-items: center;
}

#secaovideo{
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}

.textoinformativo{
  display: flex;
  align-items: center;

}

#titulovideo{
  color: #247BA0;
  margin-top: 50px;
}

#video{
  margin: 50px 10px 50px 150px;
}

#carrossel{
  background-color: #247BA0;
  padding: 50px;
}

#titulo-carrossel{
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

#div-cards{
  display: grid;
  grid-auto-flow: column;
}

.card{
  margin-left: 100px;
}

#seta-esquerda, #bruna{
  display: none;
}

.seta{
  margin-top: 30%;
}